<div class="header">
    <div class="name">
        <p>Administrador de Generos y Peliculas</p>
    </div>
    <div class="list">
        <ul>
            <button mat-flat-button routerLink="manage/generos">Generos</button>
            <!-- <button mat-flat-button routerLink="manage/cines">Cines</button> -->
            <button mat-flat-button routerLink="manage/peliculas">Peliculas</button>
        </ul>
    </div>
    <div class="main">
        <span>
            <mat-icon routerLink="">manage_accounts</mat-icon>
        </span>
    </div>
</div>
