<div class="header">
    <div class="name">
        <p routerLink="" (click)="onResetClick()">{{name}}</p>
    </div>
    <div class="list" (mouseleave)="ocultarCategorias()">
        <ul>
            <li (click)="onFiltrarEstreno()">Estrenos</li>
            <li (click)="onFiltrarMasVista()">Mas vistas</li>
            <li (click)="onFiltrarTendencia()">Tendencias</li>
            <li (mouseenter)="mostrarCategorias()">Categorias</li>
            <li (click)="onMostrarBuscador()">Buscar</li>
        </ul>
        @if (mostrarMenuCategorias) {
            <div class="menuCategorias">
                <ul>
                    <li>Action</li>
                    <li>Adventure</li>
                    <li>Animation</li>
                    <li>Comedy</li>
                    <li>Crime</li>
                    <li>Documentary</li>
                    <li>Drama</li>
                    <li>Family</li>
                    <li>Fantasy</li>
                    <li>History</li>
                    <li>Horror</li>
                    <li>Musical</li>
                    <li>Romance</li>
                    <li>Science Fiction</li>
                    <li>Thriller</li>
                </ul>
            </div>
        }
        @if (mostrarBuscador) {
            <form class="buscador">
                <mat-form-field class="mat-form-field">
                    <mat-label>Buscar pelicula</mat-label>
                    <input type="search" matInput placeholder="Ex. Cars 2">
                </mat-form-field>
            </form>
        }
        
    </div>
    <div class="admin">
        <span>
            <mat-icon routerLink="manage">manage_accounts</mat-icon>
        </span>
    </div>
</div>