.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7129186602870814) 33%, rgba(0,212,255,1) 100%);
    position: sticky;
    top: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
}

.header .name p {
    cursor: pointer;
    color: aliceblue;
}

.header .list {
    position: relative;
}

.header .list ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header .list ul li {
    cursor: pointer;
    font-weight:500;
    color: aliceblue;
}

.header .admin span {
    cursor: pointer;
}

.header .list .menuCategorias {
    position: absolute;
    background-color: azure;
    margin: 10px;
    padding: 20px;
    right: 15px;
    top: 10px;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
}

.header .list .menuCategorias ul {
    display: flex;
    flex-direction: column;
}

.header .list .menuCategorias ul li {
    color: black;
    padding: 5px;
    border: 1px solid;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    transition: 0.3s ease;
    border-radius: 5px;
}

.header .list .menuCategorias ul li:hover {
    box-shadow: none;
}

.header .list .buscador {
    position: absolute;
    right: -145px;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
}

.header .list .buscador .mat-form-field {
    width: 200px;
}
