/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form button {
    margin-bottom: 1rem;
}

mat-form-field {
    width: 100%;
    max-width: 500px;
    display: block !important;
    margin-top: 1rem;
}

.contenedor-botones {
    margin-top: 1rem;
}

.indice-elementos {
    margin-top: 1rem;
}

.indice-elementos a {
    margin-right: 1rem;
}